body {
    margin: 0px;
    padding: 0px;  
}

.nav-header {
    padding-left: 12px;
}

.nav-header > .search {
    margin: 0px;
    padding: 0px;
}

.text-html {
    padding: 0%;
    margin: 0%;
    border: 0px;
}

